@textColor: #333;
@baseColor: #cc3333;
@backColor: #f0f0f0;
.btn(@up, @right, @down, @left, @height, @width) {
  height: @height;
  width: @width;
  line-height: @height;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
  font-weight: 700;
  background-color: @baseColor;
  border-radius: 30px;
  margin: @up @right @down @left;
  box-sizing: border-box;
  display: block;
  // &:hover {
  //   background-color: @pinkActive;
  // }
  // &.pink {
  //   border: 1px solid @pink;
  //   background-color: #fff;
  //   color: @pink;
  //   &:hover {
  //     background-color: @pinkActive;
  //     color: #fff;
  //   }
  // }
  &.white {
    border: 1px solid #888;
    background-color: #fff;
    color: #888;
    &:hover {
      background-color: #888;
      color: #fff;
    }
  }
  // &.no-click {
  //   background-color: @changeActive;
  // }
}

.border-1px(@color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid @color;
    content: '';
  }
}

.page-title() {
  z-index: 10000;
  top: 0;
  left: 0;
  height: 0.88rem;
  line-height: 0.88rem;
  width: 7.5rem;
  text-align: center;
  color: @textColor;
  background: #fff;
  position: relative;
  .back {
    position: fixed;
    left: 0.3rem;
    width: 1.3rem;
    height: 0.88rem;
    line-height: 0.88rem;
    z-index: 10001;
    text-align: left;
    font-size: 0.32rem;
    &.iconfont {
      font-size: 0.4rem;
    }
  }
  .name-wrp {
    width: 7.5rem;
    top: 0;
    left: 0;
    height: 0.88rem;
    line-height: 0.88rem;
    z-index: 10000;
    position: fixed;
    background: #fff;
    .name {
      display: block;
      margin: 0 auto;
      font-weight: bold;
      font-size: 0.32rem;
      height: 0.88rem;
      line-height: 0.88rem;
      width: 3.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      // i {
      //   font-style: normal;
      //   margin-left: 0.07rem;
      //   color: @blue;
      //   font-size: 0.16rem;
      // }
    }
  }
}

.name-box() {
  background-color: #fff;
  display: flex;
  width: 100%;
  padding: 0 0.3rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: @textColor;
  font-size: 0.32rem;
  z-index: 10;
  .border-1px(#e6e6e6);
  .text {
    flex: 0 0 1.9rem;
    width: 1.9rem;
  }
  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.24rem 0 0.24rem 0;
    height: 100%;
    // line-height: 0.16rem;
    font-size: 0.32rem;
  }
  // label {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   z-index: 11;
  // }
}
.tab(){
    height:0.86rem;
    background-color:#fff;
    display:flex;
    position:relative;
    z-index:5000;
    width:7.5rem;
    .tab-item{
      flex:1;
      line-height:0.86rem;
      text-align:center;
      color:#666;
      font-size:0.32rem;
      &.current{
        color:@textColor;
      }
    }
    .line{
      position:absolute;
      bottom:0;
      left:1.44rem;
      transition:all 0.4s linear;
      width:0.88rem;
      height:0.04rem;
      background-color:@baseColor;
    }
  }
  .tip() {
    position:absolute;
    color:#666;
    font-size:0.28rem;
    height:0.4rem;
    line-height:0.4rem;
    text-align:center;
    width:100%;
    &.top-tip{
      top:-30px;
      z-index:9999;
      i{
        font-size:0.4rem;
        line-height:0.4rem;
        margin-right:0.2rem;
        transition: all .4s;
        transform:rotate(0);
        vertical-align: middle;
        display:inline-block;
        &.rotate{
          transform:rotate(180deg);
        }
      }
    }
    &.bottom-tip{
      bottom: -50px;
      &.up-move{
        bottom:30px;
      }
    }
  }
